@font-face {
  font-family: 'iconfont';  /* Project id 2891145 */
  src: url('//at.alicdn.com/t/font_2891145_6vvmetun2ob.woff2?t=1635339628397') format('woff2'),
       url('//at.alicdn.com/t/font_2891145_6vvmetun2ob.woff?t=1635339628397') format('woff'),
       url('//at.alicdn.com/t/font_2891145_6vvmetun2ob.ttf?t=1635339628397') format('truetype');
}

  .iconfont {
    font-family: "iconfont" !important;
    font-size: 16px;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }